
@{
    ViewBag.Title = "第10章 开发微信网页";
}
<br/><br /><br /><br /><br /><br />
<h2>第10章 开发微信网页</h2>
<ul>
    <li>@Html.ActionLink("【例10-1】  理解jQuery Mobile编程的基本要点.", "Index", "jQueryMobile", new { area = "area10" }, null)</li>
    <li>@Html.ActionLink("【例10-2】  在HTML中使用CSS设置显示风格的例子。", "Index", "CssSample", new { area = "area10" }, null)</li>
    <li>@Html.ActionLink("【例10-3】  使用行内样式表定义网页的背景为灰色。", "Index", "Sample10_3", new { area = "area10" }, null)</li>
    <li>@Html.ActionLink("【例10-4】  演示外部样式表的使用。", "Index", "Sample10_4", new { area = "area10" }, null)</li>
    <li>@Html.ActionLink("【例10-5】  演示设置网页背景图像的例子。", "Index", "Sample10_5", new { area = "area10" }, null)</li>
    <li>@Html.ActionLink("【例10-6】  演示设置字体的例子", "Index", "Sample10_6", new { area = "area10" }, null)</li>
    <li>@Html.ActionLink("【例10-7】  演示设置字体的例子", "Index", "Sample10_7", new { area = "area10" }, null)</li>
    <li>@Html.ActionLink("【例10-8】  演示各种类型WeUI按钮的效果。", "Index", "Sample10_8", new { area = "area10" }, null)</li>
    <li>@Html.ActionLink("【例10-9】  演示Cell列表视图的效果。", "Index", "Sample10_9", new { area = "area10" }, null)</li>
    <li>@Html.ActionLink("【例10-10】  演示带图标、说明、跳转的列表项。", "Index", "Sample10_10", new { area = "area10" }, null)</li>
    <li>@Html.ActionLink("【例10-11】  演示定义包含“确定”和“取消”按钮的对话框的方法。", "Index", "Sample10_11", new { area = "area10" }, null)</li>
    <li>@Html.ActionLink("【例10-12】  演示定义包含“确定”按钮的对话框的方法。", "Index", "Sample10_12", new { area = "area10" }, null)</li>
    <li>@Html.ActionLink("【例10-13】  演示定义进度条的方法。", "Index", "Sample10_13", new { area = "area10" }, null)</li>
    <li>@Html.ActionLink("【例10-14】  演示定义临时提示框的方法。", "Index", "Sample10_14", new { area = "area10" }, null)</li>
    <li>@Html.ActionLink("【【例10-15】  演示定义Msg Page的方法。", "Index", "Sample10_15", new { area = "area10" }, null)</li>
    <li>@Html.ActionLink("【【例10-16】  演示定义文章页面的方法。", "Index", "Sample10_16", new { area = "area10" }, null)</li>
    <li>@Html.ActionLink("【例10-30】  演示WeixinJSBridge.invoke()方法的用法。", "Index", "WeixinJSBridge2", new { area = "area10" }, null)</li>

    <li>@Html.ActionLink("微信浏览器私有接口WeixinJSBridge", "Index", "WeixinJSBridge", new { area = "area10" }, null)</li>
</ul>