
<br/><br/>
@{
    ViewBag.Title = "第12章";
}

<h2>第12章  微信支付</h2>

<ul>
<li>@Html.ActionLink("JSAPI支付", "Index","jsapiPay")</li>
    <li>@Html.ActionLink("扫码支付", "Index", "scanPay")</li>
<li>@Html.ActionLink("发放现金红包", "redpack", "Home")</li>
    <li>@Html.ActionLink("发放裂变红包", "sendgroupredpack", "Home")</li>
    <li>@Html.ActionLink("企业付款", "Index", "transfers")</li>
    <li>@Html.ActionLink("查询红包记录", "Index", "gethbinfo")</li>

</ul>