@model wxBase.Model.poi.wxReturnPoiInfo
@{
    ViewBag.Title = "viewinfo";
    string category = "";
    for (int i = 0; i < @Model.business.base_info.categories.Count; i++)
    {
        category += @Model.business.base_info.categories[i]+",";
    }
}
<h2>viewinfo</h2>

@using (Html.BeginForm("save", "poi", FormMethod.Post))
{
    <table border="0">
        <a>门店名称</a>
        <input type="text" name="business_name" readonly="readonly" value="@Model.business.base_info.business_name" />
        <br />
        <a>分店名称</a>
        <input type="text" name="branch_name" readonly="readonly" value="@Model.business.base_info.branch_name" />
        <br />
        <a>位置</a>
        <input type="text" name="province" readonly="readonly" value="@Model.business.base_info.province" />
        <input type="text" name="city" readonly="readonly" value="@Model.business.base_info.city" />
        <input type="text" name="district" readonly="readonly" value="@Model.business.base_info.district" />
        <br />
        <a>地址</a>
        <input type="text" name="address" readonly="readonly" value="@Model.business.base_info.address" />
        <br />
        <a>电话</a>
        <input type="text" name="telephone" value="@Model.business.base_info.telephone" />
        <br />
        <a>门店类型</a>
        <input type="text" name="categories" readonly="readonly" value="@category" />
        <br />
        <a>经度</a>
        <input type="text" name="longitude" readonly="readonly" value="@Model.business.base_info.longitude" />
        <br />
        <a>纬度</a>
        <input type="text" name="latitude" readonly="readonly" value="@Model.business.base_info.latitude" />
        <br />
        <a>特色服务</a>
        <input type="text" name="special" value="@Model.business.base_info.special" />
        <br />
        <a>营业时间</a>
        <input type="text" name="open_time" value="@Model.business.base_info.open_time" />
        <br />
        <a>人均价格</a>
        <input type="text" name="avg_price" value="@Model.business.base_info.avg_price" />
        <br />
        <a>门店id</a>
        <input type="text" name="poi_id" readonly="readonly" value="@Model.business.base_info.poi_id" />
        <br />
        <a>商户简介</a>
        <input type="text" name="introduction" value="@Model.business.base_info.introduction" />
        <br />
        <a>推荐品</a>
        <input type="text" name="recommend" readonly="readonly" value="@Model.business.base_info.recommend" />
        <br />
        <a>门店图片1</a>
        <input type="text" name="photo1" value="@Model.business.base_info.photo_list[0].photo_url" />
        <br />
        <a>门店图片2</a>
        <input type="text" name="photo2" value="@Model.business.base_info.photo_list[1].photo_url" />
        <br />
        <a>门店图片3</a>
        <input type="text" name="photo3" value="@Model.business.base_info.photo_list[2].photo_url" />
        <br />
        <a>门店图片4</a>
        <input type="text" name="photo4" value="@Model.business.base_info.photo_list[3].photo_url" />
        <br />
        <a>门店图片5</a>
        <input type="text" name="photo5" value="@Model.business.base_info.photo_list[4].photo_url" />
        <br />
    </table>
    @*<input type="submit" value="提交" />*@
}
