
@{
    ViewBag.Title = "第9章 统计分析";
}
<br /><br /><br /><br /><br />

<h2>第9章 统计分析</h2>

<ul>
    <li>@Html.ActionLink("9.1.1  获取用户增减数据", "getusersummary")</li>
    <li>@Html.ActionLink("9.1.2  获取累计用户数据", "getusercumulate")</li>
    <li>@Html.ActionLink("9.2.1  获取图文群发每日数据", "getarticlesummary")</li>
    <li>@Html.ActionLink("9.2.2  获取图文群发总数据", "getarticletotal")</li>
    <li>@Html.ActionLink("9.2.3  获取图文统计数据", "getuserread")</li>
    <li>@Html.ActionLink("9.2.4  获取图文统计数据", "getuserreadhour")</li>
    <li>@Html.ActionLink("9.2.5  获取图文分享转发数据", "getusershare")</li>
    <li>@Html.ActionLink("9.2.6  获取图文分享转发分时数据", "getusersharehour")</li>
    <li>@Html.ActionLink("9.3.2  获取消息发送概况数据", "getupstreammsg")</li>
    <li>@Html.ActionLink("9.3.3  获取消息发送月数据", "getupstreammsgmonth") </li>
    <li>@Html.ActionLink("9.3.4  获取消息发送周数据", "getupstreammsgweek") </li>
    <li>@Html.ActionLink("9.3.5  获取消息发送分时数据", "getupstreammsghour") </li>
    <li>@Html.ActionLink("9.3.6  获取消息发送分布数据", "getupstreammsgdist") </li>
    <li>@Html.ActionLink("9.3.7  获取消息发送分布月数据", "getupstreammsgdistmonth") </li>
    <li>@Html.ActionLink("9.3.8  获取消息发送分布周数据", "getupstreammsgdistweek") </li></ul>