<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>微信JS-SDK Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body ontouchstart="">
    <div class="wxapi_container">
        <div class="wxapi_index_container">
            <ul class="label_box lbox_close wxapi_index_list">
                <li class="label_item wxapi_index_item"><a class="label_inner" href="#menu-basic">基础接口</a></li>
                <li class="label_item wxapi_index_item"><a class="label_inner" href="#menu-share">分享接口</a></li>
                <li class="label_item wxapi_index_item"><a class="label_inner" href="#menu-image">图像接口</a></li>
                <li class="label_item wxapi_index_item"><a class="label_inner" href="#menu-voice">音频接口</a></li>
                <li class="label_item wxapi_index_item"><a class="label_inner" href="#menu-smart">智能接口</a></li>
                <li class="label_item wxapi_index_item"><a class="label_inner" href="#menu-device">设备信息接口</a></li>
                <li class="label_item wxapi_index_item"><a class="label_inner" href="#menu-location">地理位置接口</a></li>
                <li class="label_item wxapi_index_item"><a class="label_inner" href="#menu-webview">界面操作接口</a></li>
                <li class="label_item wxapi_index_item"><a class="label_inner" href="#menu-scan">微信扫一扫接口</a></li>
                <li class="label_item wxapi_index_item"><a class="label_inner" href="#menu-shopping">微信小店接口</a></li>
                <li class="label_item wxapi_index_item"><a class="label_inner" href="#menu-card">微信卡券接口</a></li>
                <li class="label_item wxapi_index_item"><a class="label_inner" href="#menu-pay">微信支付接口</a></li>
            </ul>
        </div>
        <div class="lbox_close wxapi_form">
            <h3 id="menu-basic">基础接口</h3>
            <span class="desc">判断当前客户端是否支持指定JS接口</span>
            <button class="btn btn_primary" id="checkJsApi">checkJsApi</button>
            <h3 id="menu-share">分享接口</h3>
            <span class="desc">获取“分享到朋友圈”按钮点击状态及自定义分享内容接口</span>
            <button class="btn btn_primary" id="onMenuShareTimeline">onMenuShareTimeline</button>
            <span class="desc">获取“分享给朋友”按钮点击状态及自定义分享内容接口</span>
            <button class="btn btn_primary" id="onMenuShareAppMessage">onMenuShareAppMessage</button>
            <span class="desc">获取“分享到QQ”按钮点击状态及自定义分享内容接口</span>
            <button class="btn btn_primary" id="onMenuShareQQ">onMenuShareQQ</button>
            <span class="desc">获取“分享到腾讯微博”按钮点击状态及自定义分享内容接口</span>
            <button class="btn btn_primary" id="onMenuShareWeibo">onMenuShareWeibo</button>
            <h3 id="menu-image">图像接口</h3>
            <span class="desc">拍照或从手机相册中选图接口</span>
            <button class="btn btn_primary" id="chooseImage">chooseImage</button>
            <span class="desc">预览图片接口</span>
            <button class="btn btn_primary" id="previewImage">previewImage</button>
            <span class="desc">上传图片接口</span>
            <button class="btn btn_primary" id="uploadImage">uploadImage</button>
            <span class="desc">下载图片接口</span>
            <button class="btn btn_primary" id="downloadImage">downloadImage</button>
            <h3 id="menu-voice">音频接口</h3>
            <span class="desc">开始录音接口</span>
            <button class="btn btn_primary" id="startRecord">startRecord</button>
            <span class="desc">停止录音接口</span>
            <button class="btn btn_primary" id="stopRecord">stopRecord</button>
            <span class="desc">播放语音接口</span>
            <button class="btn btn_primary" id="playVoice">playVoice</button>
            <span class="desc">暂停播放接口</span>
            <button class="btn btn_primary" id="pauseVoice">pauseVoice</button>
            <span class="desc">停止播放接口</span>
            <button class="btn btn_primary" id="stopVoice">stopVoice</button>
            <span class="desc">下载语音接口</span>
            <button class="btn btn_primary" id="downloadVoice">downloadVoice</button>
            <span class="desc">识别音频并返回识别结果接口</span>
            <button class="btn btn_primary" id="translateVoice">translateVoice</button>
            <h3 id="menu-device">设备信息接口</h3>
            <span class="desc">获取网络状态接口</span>
            <button class="btn btn_primary" id="getNetworkType">getNetworkType</button>
            <h3 id="menu-location">地理位置接口</h3>
            <span class="desc">使用微信内置地图查看位置接口</span>
            <button class="btn btn_primary" id="openLocation">openLocation</button>
            <span class="desc">获取地理位置接口</span>
            <button class="btn btn_primary" id="getLocation">getLocation</button>
            <h3 id="menu-webview">界面操作接口</h3>
            <span class="desc">隐藏右上角菜单接口</span>
            <button class="btn btn_primary" id="hideOptionMenu">hideOptionMenu</button>
            <span class="desc">显示右上角菜单接口</span>
            <button class="btn btn_primary" id="showOptionMenu">showOptionMenu</button>
            <span class="desc">关闭当前网页窗口接口</span>
            <button class="btn btn_primary" id="closeWindow">closeWindow</button>
            <span class="desc">批量隐藏功能按钮接口</span>
            <button class="btn btn_primary" id="hideMenuItems">hideMenuItems</button>
            <span class="desc">批量显示功能按钮接口</span>
            <button class="btn btn_primary" id="showMenuItems">showMenuItems</button>
            <span class="desc">隐藏所有非基础按钮接口</span>
            <button class="btn btn_primary" id="hideAllNonBaseMenuItem">hideAllNonBaseMenuItem</button>
            <span class="desc">显示所有功能按钮接口</span>
            <button class="btn btn_primary" id="showAllNonBaseMenuItem">showAllNonBaseMenuItem</button>
            <h3 id="menu-scan">微信扫一扫</h3>
            <span class="desc">调起微信扫一扫接口</span>
            <button class="btn btn_primary" id="scanQRCode0">scanQRCode(微信处理结果)</button>
            <button class="btn btn_primary" id="scanQRCode1">scanQRCode(直接返回结果)</button>
            <h3 id="menu-shopping">微信小店接口</h3>
            <span class="desc">跳转微信商品页接口</span>
            <button class="btn btn_primary" id="openProductSpecificView">openProductSpecificView</button>
            <h3 id="menu-card">微信卡券接口</h3>
            <span class="desc">批量添加卡券接口</span>
            <button class="btn btn_primary" id="addCard">addCard</button>
            <span class="desc">调起适用于门店的卡券列表并获取用户选择列表</span>
            <button class="btn btn_primary" id="chooseCard">chooseCard</button>
            <span class="desc">查看微信卡包中的卡券接口</span>
            <button class="btn btn_primary" id="openCard">openCard</button>
            <h3 id="menu-pay">微信支付接口</h3>
            <span class="desc">发起一个微信支付请求</span>
            <button class="btn btn_primary" id="chooseWXPay">chooseWXPay</button>
        </div>
    </div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

/*
* 注意：
* 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
* 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
*/
    @{
        long Timestamp = wxBase.JssdkService.CreateTimestamp();
    }
    jQuery(function () {
        wx.config({
            debug: false,
            appId: "@wxBase.weixinService.appid",
            timestamp: @Timestamp,
            nonceStr:  "@wxBase.JssdkService.nonceStr",
            signature: "@wxBase.JssdkService.GetSignature(@wxBase.JssdkService.Jsapi_ticket, @wxBase.JssdkService.nonceStr, @Timestamp, @Request.Url.ToString())",
            jsApiList: [
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo',
            'hideMenuItems',
            'showMenuItems',
            'hideAllNonBaseMenuItem',
            'showAllNonBaseMenuItem',
            'translateVoice',
            'startRecord',
            'stopRecord',
            'onRecordEnd',
            'playVoice',
            'pauseVoice',
            'stopVoice',
            'uploadVoice',
            'downloadVoice',
            'chooseImage',
            'previewImage',
            'uploadImage',
            'downloadImage',
            'getNetworkType',
            'openLocation',
            'getLocation',
            'hideOptionMenu',
            'showOptionMenu',
            'closeWindow',
            'scanQRCode',
            'chooseWXPay',
            'openProductSpecificView',
            'addCard',
            'chooseCard',
            'openCard'
            ]
        });
        wx.ready(function () {
            alert('ready ');
        });

        wx.error(function (res) {

            alert('wx.error: '+JSON.stringify(res));

        });

        $('#checkJsApi').click(function(){
            wx.checkJsApi({
                jsApiList: [
                  'getNetworkType',
                  'previewImage'
                ],
                success: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        });
        // 分享到朋友圈
        $('#onMenuShareTimeline').click(function () {
            wx.onMenuShareTimeline({
                title: '互联网之子',
                link: 'http://movie.douban.com/subject/25785114/',
                imgUrl: 'http://demo.open.weixin.qq.com/jssdk/images/p2166127561.jpg',
                trigger: function (res) {
                    // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                    alert('用户点击分享到朋友圈');
                },
                success: function (res) {
                    alert('已分享');
                },
                cancel: function (res) {
                    alert('已取消');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
            alert('已注册获取“分享到朋友圈”状态事件');
        });
        // 分享给朋友
        $('#onMenuShareAppMessage').click(function () {
            wx.onMenuShareAppMessage({
                title: '互联网之子',
                desc: '在长大的过程中，我才慢慢发现，我身边的所有事，别人跟我说的所有事，那些所谓本来如此，注定如此的事，它们其实没有非得如此，事情是可以改变的。更重要的是，有些事既然错了，那就该做出改变。',
                link: 'http://movie.douban.com/subject/25785114/',
                imgUrl: 'http://demo.open.weixin.qq.com/jssdk/images/p2166127561.jpg',
                trigger: function (res) {
                    // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                    alert('用户点击发送给朋友');
                },
                success: function (res) {
                    alert('已分享');
                },
                cancel: function (res) {
                    alert('已取消');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
            alert('已注册获取“发送给朋友”状态事件');
        });

        $('#onMenuShareQQ').click(function () {
            wx.onMenuShareQQ({
                title: '互联网之子',
                desc: '在长大的过程中，我才慢慢发现，我身边的所有事，别人跟我说的所有事，那些所谓本来如此，注定如此的事，它们其实没有非得如此，事情是可以改变的。更重要的是，有些事既然错了，那就该做出改变。',
                link: 'http://movie.douban.com/subject/25785114/',
                imgUrl: 'http://img3.douban.com/view/movie_poster_cover/spst/public/p2166127561.jpg',
                trigger: function (res) {
                    alert('用户点击分享到QQ');
                },
                complete: function (res) {
                    alert(JSON.stringify(res));
                },
                success: function (res) {
                    alert('已分享');
                },
                cancel: function (res) {
                    alert('已取消');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
            alert('已注册获取“分享到 QQ”状态事件');
        });

        // 拍照或从手机相册中选图接口
        var images = {
            localId: [],
            serverId: []
        };
        $('#chooseImage').click(function () {
            wx.chooseImage({
                success: function (res) {
                    images.localId = res.localIds;
                    alert('已选择 ' + res.localIds.length + ' 张图片');
                    if (images.localId.length == 0) {
                        alert('请先使用 chooseImage 接口选择图片');
                        return;
                    }
                    var i = 0, length = images.localId.length;
                    images.serverId = [];
                    function upload() {
                        wx.uploadImage({
                            localId: images.localId[i],
                            success: function (res) {
                                i++;
                                alert('已上传：' + i + '/' + length);
                                images.serverId.push(res.serverId);
                                alert(  images.serverId[i-1]);
                                if (i < length) {
                                    upload();
                                }
                            },
                            fail: function (res) {
                                alert(JSON.stringify(res));
                            }
                        });
                    }
                    upload();
                }
            });
        });

        // 预览图像
        $('#previewImage').click(function () {
            wx.previewImage({
                current: 'http://pic11.nipic.com/20101214/213291_155243023914_2.jpg',
                urls: [
                  'http://pic4.nipic.com/20091121/3764872_215617048242_2.jpg',
                  'http://pic.qiantucdn.com/58pic/11/79/85/13t58PICsap.jpg',
                  'http://pic3.nipic.com/20090525/2416945_231841034_2.jpg'
                ]
            });
        });
        // 录音数据
        var voice = {
            localId: '',
            serverId: ''
        };
        $('#startRecord').click(function () {
            wx.startRecord({
                cancel: function () {
                    alert('用户拒绝授权录音');
                }
            });
            wx.onVoiceRecordEnd({
                complete: function (res) {
                    voice.localId = res.localId;
                    alert('录音时间已超过一分钟');
                }
            });
        });
        $('#stopRecord').click(function () {
            wx.stopRecord({
                success: function (res) {
                    voice.localId = res.localId;
                    alert("已停止录音，localId:"+voice.localId);
                    //if( voice.localId!= "")
                    //{
                    wx.uploadVoice({
                        localId: voice.localId,
                        success: function (res) {
                            alert('上传语音成功，serverId 为' + res.serverId);
                            voice.serverId = res.serverId;
                        }
                    });
                    //}
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        });


        document.querySelector('#playVoice').onclick = function () {
            if (voice.localId == '') {
                alert('请先使用 startRecord 接口录制一段声音');
                return;
            }
            wx.playVoice({
                localId: voice.localId
            });
            wx.onVoicePlayEnd({
                success: function (res) {
                    var localId = res.localId; // 返回音频的本地ID
                    alert('播放音频结束。');

                }
            });

        };

        //  暂停播放音频
        $('#pauseVoice').click(function () {
            wx.pauseVoice({
                localId: voice.localId
            });
        });

        // 停止播放音频
        $('#stopVoice').click(function () {
            wx.stopVoice({
                localId: voice.localId
            });
        });

        // 下载语音
        $('#downloadVoice').click(function () {
            if (voice.serverId == '') {
                alert('请先使用 uploadVoice 上传声音');
                return;
            }
            wx.downloadVoice({
                serverId: voice.serverId,
                success: function (res) {
                    alert('下载语音成功，localId 为' + res.localId);
                    voice.localId = res.localId;
                }
            });
        });

        // 识别音频并返回识别结果
        $('#translateVoice').click(function () {
            if (voice.localId == '') {
                alert('请先使用 startRecord 接口录制一段声音');
                return;
            }
            wx.translateVoice({
                localId: voice.localId,
                complete: function (res) {
                    if (res.hasOwnProperty('translateResult')) {
                        alert('识别结果：' + res.translateResult);
                    } else {
                        alert('无法识别');
                    }
                }
            });
        });

        $('#getNetworkType').click(function () {
            wx.getNetworkType({
                success: function (res) {
                    alert(res.networkType);
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        });

        $('#getLocation').click(function () {
            wx.getLocation({
                type: 'gcj02',
                success: function (res) {
                    alert(JSON.stringify(res));

                    wx.openLocation({
                        latitude: res.latitude,
                        longitude: res.longitude,
                        name: '名称',
                        address: '地址',
                        scale: 14,
                        infoUrl: 'http://weixin.qq.com'
                    });
                },
                cancel: function (res) {
                    alert('用户拒绝授权获取地理位置');
                }
            });
        });

        // 8.7 关闭当前窗口
        document.querySelector('#closeWindow').onclick = function () {
            wx.closeWindow();
        };

        document.querySelector('#scanQRCode0').onclick = function () {
            alert('1');
            wx.scanQRCode({
                needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                scanType: "qrCode", // 可以指定扫二维码还是一维码，默认二者都有
                success: function (res) {
                    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                    alert(result)
                }
            });
        };
        document.querySelector('#scanQRCode1').onclick = function () {
            wx.scanQRCode({
                needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                scanType: "qrCode", // 可以指定扫二维码还是一维码，默认二者都有
                success: function (res) {
                    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                    alert(result)
                }
            });
        };

    });
</script>
</html>